<template>

  <svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:xlink="http://www.w3.org/1999/xlink"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   viewBox="0 0 136.49992 117.01795"
   version="1.1"
   id="svg2040"
   sodipodi:docname="sepia-search.svg"
   inkscape:version="1.0.1 (3bc2e813f5, 2020-09-07)">
    <defs
      id="defs2034">
      <radialGradient
        inkscape:collect="always"
        xlink:href="#linearGradient1437"
        id="radialGradient1439"
        cx="300.4057"
        cy="267.63199"
        fx="300.4057"
        fy="267.63199"
        r="8.4581575"
        gradientTransform="matrix(2.0396805,-0.1296826,-0.10817558,1.4673606,-486.88698,-116.80181)"
        gradientUnits="userSpaceOnUse" />
      <linearGradient
        inkscape:collect="always"
        id="linearGradient1437">
        <stop
          style="stop-color:#b73535;stop-opacity:1"
          offset="0"
          id="stop1433" />
        <stop
          style="stop-color:#1f1f1f;stop-opacity:0.99607843"
          offset="1"
          id="stop1435" />
      </linearGradient>
    </defs>
    <sodipodi:namedview
      id="base"
      pagecolor="#ffffff"
      bordercolor="#666666"
      borderopacity="1.0"
      inkscape:pageopacity="0.0"
      inkscape:pageshadow="2"
      inkscape:zoom="0.35"
      inkscape:cx="254.66404"
      inkscape:cy="-219.46894"
      inkscape:document-units="mm"
      inkscape:current-layer="layer1"
      inkscape:document-rotation="0"
      showgrid="false"
      inkscape:window-width="1916"
      inkscape:window-height="1037"
      inkscape:window-x="0"
      inkscape:window-y="0"
      inkscape:window-maximized="1"
      fit-margin-top="0"
      fit-margin-left="0"
      fit-margin-right="0"
      fit-margin-bottom="0" />
    <metadata
      id="metadata2037">
      <rdf:RDF>
        <cc:Work
          rdf:about="">
          <dc:format>image/svg+xml</dc:format>
          <dc:type
            rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
          <dc:title></dc:title>
        </cc:Work>
      </rdf:RDF>
    </metadata>
    <g
      inkscape:label="Calque 1"
      inkscape:groupmode="layer"
      id="layer1"
      transform="translate(-33.215971,-84.566821)">
      <g
        id="g2395"
        transform="translate(-8.0571622,-57.654785)">
        <path
          style="fill:#cb6e3b;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.177802px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
          d="m 155.29564,237.05303 c 0.12852,2.40888 -0.145,3.1686 -0.81381,2.99301 -0.66884,-0.17556 -1.38604,-0.0648 -1.55478,0.42115 -0.16875,0.486 -0.40008,-0.68205 -0.5055,-2.22619 -0.10542,-1.5442 0.55842,-3.49044 0.85107,-2.41431 0.29262,1.07612 1.91743,0.1842 2.02302,1.22634 z"
          id="path1441-9-4-7-2"
          inkscape:transform-center-x="-0.87018867"
          inkscape:transform-center-y="-0.30498456" />
        <path
          style="fill:#fdc395;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
          d="m 127.7293,240.78509 c 4.82145,2.04021 5.80409,-0.81414 9.68365,-0.26333 3.87955,0.5508 11.18287,8.103 6.59193,11.48986 -4.59094,3.38685 -15.55186,3.49029 -15.55186,3.49029 z"
          id="path1548" />
        <path
          style="fill:#cb6e3b;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.120912px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
          d="m 46.403034,249.89613 c 1.05825,-1.09923 1.55534,-1.28498 1.82119,-0.86694 0.26585,0.41804 0.69062,0.73805 1.00536,0.61603 0.31477,-0.12202 -0.11045,0.4976 -0.77684,1.21403 -0.66641,0.71645 -1.92069,1.2112 -1.57029,0.59959 0.3504,-0.6116 -0.91124,-1.06154 -0.47942,-1.56271 z"
          id="path1441-9" />
        <path
          style="fill:#cb6e3b;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.141626px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
          d="m 51.390854,249.07701 c 1.60069,0.84428 1.96997,1.33892 1.56867,1.75691 -0.40129,0.418 -0.63981,0.98267 -0.40089,1.29455 0.23892,0.3119 -0.61018,0.0254 -1.64619,-0.49902 -1.03605,-0.52447 -1.99798,-1.76483 -1.18137,-1.55873 0.8166,0.2061 0.94572,-1.3226 1.65978,-0.99371 z"
          id="path1441-9-4" />
        <path
          style="fill:#cb6e3b;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.18826px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
          d="m 55.379494,251.55118 c 2.31356,0.68625 2.92311,1.23365 2.50228,1.87859 -0.42083,0.64495 -0.591,1.43858 -0.19869,1.78218 0.39232,0.34361 -0.79414,0.18896 -2.28598,-0.22665 -1.4919,-0.41566 -3.06754,-1.77913 -1.94404,-1.72047 1.12349,0.0587 0.90642,-1.95786 1.92643,-1.71365 z"
          id="path1441-9-4-7"
          inkscape:transform-center-x="0.18369836"
          inkscape:transform-center-y="-0.94986094" />
        <path
          style="fill:#cb6e3b;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.0811313px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
          d="m 47.443424,253.94707 c -0.72667,-0.72125 -0.84517,-1.05563 -0.5598,-1.22755 0.28537,-0.17191 0.5068,-0.45125 0.4288,-0.66302 -0.078,-0.2118 0.33392,0.0804 0.80785,0.53489 0.47394,0.45452 0.79051,1.29859 0.38298,1.05646 -0.40753,-0.24212 -0.72783,0.59423 -1.05983,0.29922 z"
          id="path1441-9-8" />
        <path
          style="fill:#cb6e3b;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.0575629px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
          d="m 49.939964,254.84884 c -0.64219,-0.12816 -0.82725,-0.28857 -0.74376,-0.53117 0.0835,-0.2426 0.0942,-0.52477 -0.0245,-0.62499 -0.11874,-0.10025 0.20206,-0.10267 0.615,-0.0293 0.41295,0.0734 0.88911,0.47021 0.58914,0.50283 -0.29998,0.0326 -0.15522,0.719 -0.43583,0.68265 z"
          id="path1441-9-8-4" />
        <path
          style="fill:#fdc395;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
          d="m 52.359214,245.63758 c -2.73664,-4.3316 0.45693,-7.90593 3.69263,-8.82388 3.23569,-0.91796 10.40867,1.56904 14.62279,2.92332 4.2141,1.35428 1.84015,-4.28746 6.55794,-4.20979 4.71781,0.0777 7.9638,7.40545 7.9638,7.40545 l -13.96267,10.27978 -12.94559,-0.93197 z"
          id="path1429" />
        <path
          id="shape0"
          fill="#fd9c50"
          fill-rule="evenodd"
          stroke="#000000"
          stroke-opacity="0"
          stroke-width="0"
          stroke-linecap="square"
          stroke-linejoin="bevel"
          d="m 116.32359,142.22335 c -2.49234,1.25618 -4.29627,3.48038 -6.6319,4.97034 -15.317296,11.9618 -30.532616,24.16066 -44.156406,38.06225 -5.54194,5.48845 -11.15233,10.99659 -15.6795,17.37611 -0.32189,0.78763 0.55036,1.51905 1.30523,1.34888 6.16315,0.73217 12.38384,0.72003 18.56043,1.30051 4.80094,0.40847 9.56864,1.11547 14.35602,1.64842 11.40835,1.43301 22.725436,3.48805 34.050386,5.45502 12.17403,2.14477 24.33108,4.41477 36.56183,6.21293 1.63529,0.12574 3.61897,-0.0208 4.67628,-1.44709 0.51488,-1.43358 -0.72851,-2.63929 -1.19203,-3.89731 -4.38862,-9.23962 -9.10715,-18.3207 -14.12984,-27.23136 -4.43327,-7.92351 -8.58154,-16.00865 -13.26799,-23.78856 -2.92015,-4.87776 -6.10452,-9.59373 -9.513,-14.14289 -1.38718,-1.92302 -2.63423,-3.98708 -4.24811,-5.72077 -0.21491,-0.10221 -0.45273,-0.15913 -0.6914,-0.14648 z"
          sodipodi:nodetypes="csscccccc" />
        <path
          style="fill:#b96335;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
          d="m 65.240764,255.62297 h 72.814626 l -19.87841,-14.16286 -12.26079,4.10032 -14.246806,-1.61058 -8.40888,1.23561 z"
          id="path1431" />
        <path
          style="fill:#fd9c50;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.272012px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
          d="m 84.734034,248.64591 c 2.37931,-1.77138 3.49692,-1.85929 4.09464,-0.74166 0.59771,1.11763 1.55275,2.12015 2.26041,2.05458 0.70769,-0.0656 -0.24837,1.04672 -1.74662,2.21675 -1.49829,1.17003 -4.31837,1.45047 -3.53055,0.30651 0.78783,-1.14395 -2.04875,-2.99491 -1.07788,-3.83618 z"
          id="path1441" />
        <path
          style="fill:#fd9c50;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.272013px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
          d="m 95.341724,244.76115 c 2.94379,0.3647 3.81215,1.07373 3.4715,2.29452 -0.34066,1.22078 -0.34354,2.60539 0.21315,3.04718 0.55673,0.44179 -0.90303,0.58468 -2.79447,0.39448 -1.89147,-0.19023 -4.12314,-1.93698 -2.76308,-2.21903 1.36005,-0.28204 0.58981,-3.58036 1.8729,-3.51715 z"
          id="path1441-1" />
        <path
          id="path865-2-3"
          fill="#fd9c50"
          d="m 132.4698,211.19272 c 4.86074,23.85721 -10.88755,35.75436 -30.65317,37.38624 -14.111376,-0.87883 -27.659506,-8.66057 -29.293486,-27.17189 -1.28658,-14.57536 8.89311,-30.88251 26.28132,-32.18533 17.828806,-0.34651 29.743326,11.94965 33.665336,21.97098 z"
          style="stroke-width:0.177186"
          sodipodi:nodetypes="ccscc" />
        <path
          style="fill:#fd9c50;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.211908px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
          d="m 79.309274,251.55409 c 1.97108,-1.16024 2.80778,-1.10759 3.11571,-0.14409 0.30795,0.96351 0.89382,1.87398 1.42479,1.89935 0.531,0.0253 -0.30901,0.81326 -1.55674,1.5877 -1.24774,0.77444 -3.36601,0.68867 -2.64658,-0.14318 0.71944,-0.83185 -1.15566,-2.63121 -0.33718,-3.19978 z"
          id="path1441-3"
          inkscape:transform-center-x="-7.0655745"
          inkscape:transform-center-y="-2.3667884" />
        <path
          style="fill:#fee1cb;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.260435px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
          d="m 83.893204,171.85358 c 12.34626,-7.90083 44.176596,-3.15859 53.281316,6.35379 0,0 -32.01768,28.09051 -37.798316,27.46963 -5.78066,-0.62087 -18.18819,-26.38199 -15.483,-33.82342 z"
          id="path1316"
          sodipodi:nodetypes="cssc" />
        <path
          style="fill:#f47721;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.260435px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
          d="m 137.17452,178.20737 c 5.69238,10.31218 15.7937,31.88279 18.29784,37.43794 -10.50894,-2.6793 -47.66437,-9.43221 -56.096156,-9.96831 13.139586,-10.38158 24.508676,-21.81323 37.798316,-27.46963 z"
          id="path1314"
          sodipodi:nodetypes="cccc" />
        <path
          id="path4191"
          style="fill:#c1c1c1;fill-opacity:1;stroke:none;stroke-width:0.0628507;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
          d="m 166.43869,201.23123 a 11.318451,11.318451 0 0 0 -8.09149,3.42047 11.318451,11.318451 0 0 0 0.20982,16.00522 11.318451,11.318451 0 0 0 16.00522,-0.20981 11.318451,11.318451 0 0 0 -0.20981,-16.00522 11.318451,11.318451 0 0 0 -7.91374,-3.21066 z m -0.003,1.05885 a 10.259645,10.259645 0 0 1 7.17683,2.91042 10.259645,10.259645 0 0 1 0.19068,14.50764 10.259645,10.259645 0 0 1 -14.50816,0.19069 10.259645,10.259645 0 0 1 -0.19016,-14.50816 10.259645,10.259645 0 0 1 7.33081,-3.10059 z" />
        <circle
          r="10.259645"
          cy="36.09985"
          cx="267.55032"
          id="circle4193-9"
          style="fill:#b5fcff;fill-opacity:0.656266;stroke:none;stroke-width:0.0628507;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
          transform="rotate(44.248208)" />
        <path
          id="rect4197"
          style="fill:#c1c1c1;fill-opacity:1;stroke:none;stroke-width:0.0628508;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
          d="m 159.45095,219.55993 c 1.29359,1.26008 1.5437,3.03861 0.91366,3.68541 -0.63004,0.6468 -2.68347,0.62332 -3.97707,-0.63676 -1.29359,-1.26009 -1.323,-3.26549 -0.69295,-3.91229 0.63004,-0.6468 2.46276,-0.39645 3.75636,0.86364 z"
          sodipodi:nodetypes="sssss" />
        <path
          id="rect4199"
          style="fill:#c39f69;fill-opacity:1;stroke:none;stroke-width:0.0684145;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
          d="m 158.13517,220.83713 c 1.65343,1.64875 -0.93321,5.69658 -5.47086,10.42866 -4.53766,4.73207 -9.22923,7.51402 -10.51922,6.23754 -1.29,-1.27647 1.32453,-6.11368 5.86219,-10.84576 4.53765,-4.73208 7.86791,-8.07414 10.12789,-5.82044 z"
          sodipodi:nodetypes="sssss" />
        <path
          style="fill:#cb6e3b;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.117607px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
          d="m 153.93096,231.13163 c 0.54996,1.47083 0.52489,2.00559 0.0679,2.04724 -0.45696,0.0417 -0.52398,0.27085 -0.75712,0.50286 -0.22493,0.22382 -0.79062,-0.0876 -1.15773,-1.02528 -0.36711,-0.93767 -0.32001,-1.70298 0.32943,-1.8317 0.78327,-0.15525 1.24795,-0.31814 1.51747,0.30689 z"
          id="path1441-9-4-7-2-0"
          inkscape:transform-center-x="-0.48601098"
          inkscape:transform-center-y="-0.18078543"
          sodipodi:nodetypes="sssssss" />
        <path
          style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.0517451;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
          d="m 171.1819,208.7348 c -1.33398,-1.69608 -4.9693,-1.13472 -3.48602,-2.37184 1.48328,-1.23713 3.81735,-0.90505 5.21327,0.7417 1.39589,1.64679 1.78953,4.84052 -0.15818,5.22173 -2.29756,0.4497 -0.59393,-2.35176 -1.56907,-3.59159 z"
          id="circle4201"
          inkscape:connector-curvature="0"
          sodipodi:nodetypes="sssss" />
        <path
          style="fill:#cb6e3b;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.100999px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
          d="m 150.92021,227.56998 c 1.13151,0.70148 1.397,1.0818 1.12265,1.36475 -0.2743,0.28298 -0.19702,0.47728 -0.22594,0.76602 -0.0279,0.27856 -0.55876,0.38014 -1.29081,-0.0579 -0.73206,-0.43802 -1.10474,-0.98855 -0.75149,-1.4383 0.42605,-0.54243 0.6415,-0.91273 1.14556,-0.63456 z"
          id="path1441-9-4-7-2-0-5"
          inkscape:transform-center-x="-0.15874539"
          inkscape:transform-center-y="-0.46354067"
          sodipodi:nodetypes="sssssss" />
        <path
          style="fill:#cb6e3b;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.0825661px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
          d="m 147.02162,226.99925 c 1.02962,-0.23175 1.38894,-0.15418 1.38656,0.17908 -0.002,0.33324 0.14787,0.40695 0.28893,0.60043 0.13608,0.18665 -0.11191,0.55878 -0.76942,0.71838 -0.6575,0.15961 -1.17099,0.0406 -1.21454,-0.4408 -0.0526,-0.58054 -0.13147,-0.93284 0.30847,-1.05706 z"
          id="path1441-9-4-7-2-0-5-5"
          inkscape:transform-center-x="0.08605782"
          inkscape:transform-center-y="-0.37338114"
          sodipodi:nodetypes="sssssss" />
        <path
          style="fill:#fd9c50;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.195321px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
          d="m 108.71767,237.10803 c 4.96004,-3.84214 10.37724,-6.98625 13.25127,-4.95878 2.87403,2.02748 11.9377,13.50131 17.01326,15.4382 5.07555,1.93692 14.47228,2.03211 14.68257,-5.57121 0.21026,-7.60333 -0.72174,-12.30151 -3.85844,-13.79721 -3.1367,-1.49571 -4.54437,1.89027 -5.32997,2.66663 -0.90841,-2.67113 0.30365,-4.07973 1.71203,-5.24728 1.40837,-1.16755 5.78037,-0.83087 7.72338,1.39848 1.94301,2.22936 5.26491,5.24159 6.13795,14.79378 0.49621,5.42908 -1.34481,11.45327 -8.41184,15.53662 -7.06702,4.08334 -13.95626,0.83475 -21.41022,-3.50403 -13.75709,-8.00769 -15.85658,1.46723 -19.10318,1.61728 -5.16175,0.23857 -4.76388,0.24625 -6.41398,-1.347 -5.872626,-5.07208 0.41359,-11.51614 4.00717,-17.02548 z"
          id="path1350"
          sodipodi:nodetypes="cssssczzsssscc" />
        <g
          id="g1928-4-26"
          transform="matrix(-2.1870589,0.45771812,-0.11283364,2.3488924,242.21932,-145.43384)"
          fill="none">
          <path
            id="path1667-9-1"
            transform="translate(50.843191,149.43838)"
            fill="#d35034"
            fill-opacity="0.442924"
            fill-rule="evenodd"
            d="M 0.0998896,1.70263 C -0.300451,1.4498 0.611943,0.278353 0.911835,0.0211231 1.21172,-0.236107 0.720132,1.94563 0.0998896,1.70263 Z" />
          <path
            id="path1667-0-0-87"
            transform="translate(51.73368,149.01343)"
            fill="#d35034"
            fill-opacity="0.442924"
            fill-rule="evenodd"
            d="M 0.10153,2.45307 C -0.312483,2.09539 0.652919,0.403569 0.968634,0.0308394 1.28435,-0.341901 0.744814,2.7939 0.10153,2.45307 Z" />
          <path
            id="path1667-7-9-9"
            transform="translate(52.714687,148.74079)"
            fill="#d35034"
            fill-opacity="0.442924"
            fill-rule="evenodd"
            d="M 0.10153,2.45308 C -0.312482,2.0954 0.652919,0.403578 0.968635,0.0308379 1.28435,-0.341892 0.744814,2.7939 0.10153,2.45308 Z" />
        </g>
        <g
          id="g1923-1-20"
          transform="matrix(-2.1870589,0.45771812,-0.11283364,2.3488924,233.56319,-148.01723)"
          fill="none">
          <path
            id="path1667-8-7-2"
            transform="translate(59.176498,147.1537)"
            fill="#d35034"
            fill-opacity="0.442924"
            fill-rule="evenodd"
            d="M 0.10153,2.45307 C -0.312483,2.09539 0.652918,0.403569 0.968634,0.0308395 1.28435,-0.341901 0.744813,2.79389 0.10153,2.45307 Z" />
          <path
            id="path1667-6-7-3"
            transform="translate(60.065475,146.90852)"
            fill="#d35034"
            fill-opacity="0.442924"
            fill-rule="evenodd"
            d="M 0.10153,2.45307 C -0.312483,2.09539 0.652919,0.403569 0.968634,0.0308394 1.28435,-0.341901 0.744814,2.7939 0.10153,2.45307 Z" />
          <path
            id="path1667-88-1-7"
            transform="translate(61.0717,146.98055)"
            fill="#d35034"
            fill-opacity="0.442924"
            fill-rule="evenodd"
            d="M 0.0860883,1.84426 C -0.262666,1.57383 0.543556,0.302832 0.807716,0.0230918 1.07188,-0.256648 0.627381,2.10262 0.0860883,1.84426 Z" />
        </g>
        <path
          id="shape1"
          fill="#91332b"
          fill-rule="evenodd"
          stroke="#7f0505"
          stroke-width="0.494144"
          stroke-linecap="square"
          stroke-linejoin="bevel"
          d="m 91.195374,234.27948 c 2.81316,1.6771 7.42763,3.16686 11.508366,1.10987 -2.22326,3.31093 -3.554456,4.88833 -5.473836,4.78398 -2.78795,-0.13417 -5.14795,-3.88564 -6.03453,-5.89385 z"
          sodipodi:nodetypes="cccc"
          style="fill:url(#radialGradient1439);fill-opacity:1;stroke-width:0.58017;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none" />
        <path
          style="fill:#9c7f69;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.260435px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
          d="m 53.926894,200.94274 c 6.45308,-7.55077 24.04397,-24.94286 29.96631,-29.08916 2.71027,9.34505 12.37074,30.38952 15.483,33.82342 -10.36452,-1.08769 -40.43079,-4.71484 -45.44931,-4.73426 z"
          id="path1310" />
        <path
          style="fill:#62442e;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.260435px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
          d="m 83.893204,171.85358 c 6.45968,-6.00543 26.132746,-22.03043 31.606096,-25.69 5.0253,6.89906 18.37648,25.83512 21.67522,32.04379 -11.74832,-3.98017 -40.456276,-11.20618 -53.281316,-6.35379 z"
          id="path1312" />
        <path
          style="fill:#fd9c50;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.236272px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
          d="m 82.664494,237.29283 c -6.64241,-1.31107 -6.43043,6.05223 -9.53049,8.54915 -3.10003,2.49691 -13.74097,1.73376 -17.74231,-0.75979 -3.82017,-2.38066 -9.87625,-2.80726 -13.04909,1.27452 -1.89245,2.43459 -1.98059,9.43162 5.72045,9.25971 1.593,-0.0355 2.36029,-0.66436 3.81708,-1.2434 -4.45078,0.82013 -7.2424,-3.38078 -4.74337,-4.79893 4.21875,-2.39405 4.61586,4.46642 14.87112,5.67289 10.25525,1.20646 14.10463,-0.59346 15.47343,-0.74111 1.36878,-0.14765 19.913,-9.61848 19.913,-9.61848 z"
          id="path1348"
          sodipodi:nodetypes="csssscssscc" />
        <path
          style="fill:#ffddc2;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.689478;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
          d="m 124.92732,154.65015 c 0.78239,1.00664 1.38761,1.75249 1.75658,2.35918 0.56974,0.93679 -0.64165,2.4048 -1.61494,1.13047 -0.53697,-0.66243 -1.20064,-1.51715 -1.83817,-2.50196 -0.6375,-0.98481 0.9138,-1.99449 1.69653,-0.98769 z"
          id="path867-4-9-8-6-6"
          inkscape:connector-curvature="0"
          sodipodi:nodetypes="csccc" />
        <path
          style="fill:#ffddc2;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.652279;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
          d="m 125.33269,238.02624 c 1.28597,0.9564 1.47029,1.60294 1.72772,2.14675 0.43648,0.92204 -0.63111,2.18827 -1.58841,1.02868 -0.52815,-0.60278 -1.18091,-1.38054 -1.80797,-2.27667 -0.62702,-0.89614 0.89879,-1.81491 1.66866,-0.89876 z"
          id="path867-4-9-8-6-6-1"
          inkscape:connector-curvature="0"
          sodipodi:nodetypes="csccc" />
        <path
          style="fill:#ffddc2;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.438063;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
          d="m 152.78562,226.51976 c 0.62626,0.48221 1.01223,0.95443 1.14231,1.46446 0.17041,0.66811 -0.41727,1.49277 -1.0502,0.70173 -0.27235,-0.38297 -0.64202,-0.89077 -1.19538,-1.55308 -0.41456,-0.61132 0.59426,-1.23807 1.10327,-0.61311 z"
          id="path867-4-9-8-6-6-1-2"
          inkscape:connector-curvature="0"
          sodipodi:nodetypes="csccc" />
        <path
          style="fill:#ffddc2;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.531222;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
          d="m 139.96389,242.36303 c 1.06537,0.76569 1.21807,1.28331 1.43134,1.71868 0.3616,0.73818 -0.52285,1.75193 -1.31593,0.82356 -0.43755,-0.48258 -0.97833,-1.10526 -1.49782,-1.8227 -0.51946,-0.71744 0.74461,-1.45301 1.38241,-0.71954 z"
          id="path867-4-9-8-6-6-1-5"
          inkscape:connector-curvature="0"
          sodipodi:nodetypes="csccc" />
        <path
          style="fill:#ffddc2;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.491635;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
          d="m 50.780754,244.88307 c 1.17607,0.253 1.49543,0.63816 1.83516,0.93012 0.57601,0.495 0.20948,1.69593 -0.7985,1.20103 -0.54517,-0.24771 -1.22866,-0.57632 -1.92935,-0.99402 -0.70065,-0.4177 0.0869,-1.5239 0.89269,-1.13713 z"
          id="path867-4-9-8-6-6-1-5-0"
          inkscape:connector-curvature="0"
          sodipodi:nodetypes="csccc" />
        <path
          style="fill:#fd9c50;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.272013px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
          d="m 121.50069,243.93784 c 2.38961,1.75746 2.80042,2.80054 1.90638,3.6989 -0.89405,0.89835 -1.57355,2.10476 -1.30394,2.76233 0.26963,0.65759 -1.07361,0.0685 -2.63056,-1.02221 -1.55694,-1.09074 -2.64963,-3.70562 -1.32532,-3.28667 1.3243,0.41895 2.26507,-2.83484 3.35344,-2.15235 z"
          id="path1441-1-3" />
        <path
          style="fill:#fd9c50;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.205702px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
          d="m 126.05632,249.58762 c 2.05574,0.97091 2.50941,1.67771 1.95079,2.44815 -0.55863,0.77045 -0.91234,1.73755 -0.61827,2.18175 0.29411,0.44422 -0.8075,0.18904 -2.13956,-0.40395 -1.33207,-0.59301 -2.51715,-2.35674 -1.45296,-2.22309 1.06418,0.13366 1.33966,-2.35912 2.26,-2.00286 z"
          id="path1441-6" />
        <path
          style="fill:#fd9c50;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.173132px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
          d="m 130.79468,252.22889 c 2.03957,0.21023 2.63093,0.62286 2.37332,1.33479 -0.25761,0.71193 -0.28328,1.51909 0.096,1.77618 0.37935,0.2571 -0.63757,0.34157 -1.94879,0.23221 -1.31125,-0.10936 -2.83231,-1.12583 -1.8823,-1.29135 0.95,-0.16551 0.47111,-2.08764 1.36173,-2.05183 z"
          id="path1441-6-1" />
        <ellipse
          style="color:#000000;overflow:visible;fill:#4e3b3a;fill-opacity:1;stroke:#2f2828;stroke-width:0.803698;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;stop-color:#000000"
          id="path1625"
          cx="88.737022"
          cy="212.62296"
          rx="1.1816307"
          ry="2.4383109"
          transform="matrix(0.99131195,0.13153181,0.01012665,0.99994872,0,0)" />
        <ellipse
          style="color:#000000;overflow:visible;fill:#4e3b3a;fill-opacity:1;stroke:#2f2828;stroke-width:0.803699;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;stop-color:#000000"
          id="path1625-0"
          cx="103.08065"
          cy="212.65466"
          rx="1.1816307"
          ry="2.4383109"
          transform="matrix(0.99131195,0.13153181,0.01012665,0.99994872,0,0)" />
        <path
          style="fill:#fd9c50;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.221908px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
          d="m 116.63948,249.57112 c 2.32618,-0.8668 3.23013,-0.69708 3.41822,0.29656 0.18809,0.99364 0.68725,1.97408 1.26213,2.07386 0.57492,0.0998 -0.46138,0.75859 -1.94003,1.34673 -1.47867,0.58814 -3.77448,0.20532 -2.86288,-0.51383 0.91161,-0.71914 -0.85668,-2.75778 0.12256,-3.20332 z"
          id="path1441-6-6" />
        <path
          style="fill:#fd9c50;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.223467px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
          d="m 110.24797,251.81901 c 2.48645,-0.82237 3.45268,-0.66135 3.65373,0.28136 0.20104,0.9427 0.73459,1.87288 1.34908,1.96755 0.61453,0.0947 -0.49317,0.7197 -2.07369,1.2777 -1.58054,0.55799 -4.03452,0.19479 -3.06012,-0.4875 0.97442,-0.68227 -0.9157,-2.61641 0.131,-3.03911 z"
          id="path1441-6-6-3" />
      </g>
    </g>
  </svg>

</template>

<script>
  export default {

  }
</script>
