<template>
  <svg width="9" height="13" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="">
    <rect width="100%" height="100%" x="0" y="0" fill="none" stroke="none"/>

    <g class="currentLayer" style=""><title>Layer 1</title>
      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" class="">
        <polyline stroke="#000000" stroke-width="2" points="0,0 7,6.5 0,13 "/>
      </g>
    </g>
  </svg>
</template>

<script>
  export default {}
</script>
