<template>
  <svg width="18" height="18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="">
    <rect width="100%" height="100%" x="0" y="0" fill="none" stroke="none"/>
    <g class="currentLayer" style=""><title>Layer 1</title>
      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" class="">
        <path
          d="M14.41136646270752,16.667107820510864 L14.41136646270752,8.755995988845825 L15.522477149963379,9.867106676101685 L15.522477149963379,16.667107820510864 C15.522477149963379,17.280757188796997 15.025015830993652,17.778218507766724 14.41136646270752,17.778218507766724 L10.522477149963379,17.778218507766724 L10.522477149963379,12.222662210464478 L7.189145088195801,12.222662210464478 L7.189145088195801,17.778218507766724 L3.30025577545166,17.778218507766724 C2.686605453491211,17.778218507766724 2.1891441345214844,17.280757188796997 2.1891441345214844,16.667107820510864 L2.1891441345214844,10.000439882278442 L3.30025577545166,8.889329195022583 L3.30025577545166,16.667107820510864 L6.078032493591309,16.667107820510864 L6.078032493591309,11.111551523208618 L11.633589744567871,11.111551523208618 L11.633589744567871,16.667107820510864 L14.41136646270752,16.667107820510864 zM17.58358860015869,8.494884729385376 L17.57803249359131,8.500439882278442 C17.766798973083496,8.720862627029419 17.75410747528076,9.049436807632446 17.548901557922363,9.254641771316528 C17.343697547912598,9.45984673500061 17.015122413635254,9.472538232803345 16.794699668884277,9.28377366065979 L8.85581111907959,1.3393292427062988 L0.9169225692749023,9.278218507766724 C0.6964998245239258,9.466983079910278 0.36792564392089844,9.454291582107544 0.1627206802368164,9.249086618423462 C-0.042484283447265625,9.04388165473938 -0.05517578125,8.715307474136353 0.1335887908935547,8.494884729385376 L8.46692180633545,0.1615513563156128 C8.683609962463379,-0.053850531578063965 9.033568382263184,-0.053850531578063965 9.25025463104248,0.1615513563156128 L17.58358860015869,8.494884729385376 z"
          fill="#000000" fill-rule="nonzero"/>
      </g>
    </g>
  </svg>
</template>

<script>
  export default {}
</script>
