<template>
  <svg width="23px" height="23px" viewBox="0 0 23 23" version="1.1" xmlns="http://www.w3.org/2000/svg"
       xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
      <path
        d="M4.62555556,8.59306644 C4.4538821,8.59066881 4.29039398,8.51928667 4.17194444,8.395 L0.268333333,4.47222222 L4.17194444,0.549444444 C4.33286282,0.387384803 4.56801532,0.323484451 4.78882228,0.381814032 C5.00962923,0.440143613 5.18254481,0.611841477 5.24243339,0.832230699 C5.30232196,1.05261992 5.24008504,1.28821814 5.07916667,1.45027778 L2.70888889,3.83333333 L14.1322222,3.83333333 C14.4850708,3.83333333 14.7711111,4.11937363 14.7711111,4.47222222 C14.7711111,4.82507081 14.4850708,5.11111111 14.1322222,5.11111111 L2.70888889,5.11111111 L5.07916667,7.50055556 C5.26346052,7.68333557 5.31885341,7.95944823 5.21932033,8.19916874 C5.11978725,8.43888925 4.8851138,8.59456501 4.62555556,8.59306644 Z M11.1358333,7.55805556 L15.0330556,11.5 L11.1294444,15.4036111 C10.9685261,15.5656708 10.7333736,15.6295711 10.5125666,15.5712415 C10.2917596,15.512912 10.1188441,15.3412141 10.0589555,15.1208249 C9.9990669,14.9004356 10.0613038,14.6648374 10.2222222,14.5027778 L12.5988889,12.1388889 L1.16916667,12.1388889 C0.816318076,12.1388889 0.530277778,11.8528486 0.530277778,11.5 C0.530277778,11.1471514 0.816318076,10.8611111 1.16916667,10.8611111 L12.5988889,10.8611111 L10.2222222,8.45888889 C9.97346398,8.20660215 9.97632438,7.80042493 10.2286111,7.55166668 C10.4808979,7.30290842 10.8870751,7.30576882 11.1358333,7.55805556 Z"
        :id="following"></path>
    </defs>
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g transform="translate(3.000000, 3.000000)">
        <g transform="translate(0.833333, 0.194444)">
          <mask :id="mask" fill="white">
            <use :xlink:href="'#' + following"></use>
          </mask>
          <use fill="#000000" fill-rule="nonzero" :xlink:href="'#' + following"></use>
          <g :mask="'url(#' + mask + ')'" fill="#868686">
            <g transform="translate(-3.833333, -3.194444)">
              <rect x="0" y="0" width="23" height="23"></rect>
            </g>
          </g>
        </g>
      </g>
    </g>
  </svg>
</template>

<script>
  export default {
    data () {
      return {
        following: Math.random(),
        mask: Math.random()
      }
    }
  }
</script>
