<template>
  <svg width="21px" height="21px" viewBox="0 0 21 21" version="1.1" xmlns="http://www.w3.org/2000/svg"
       xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
      <path
        d="M18.6666667,2.53166667 C18.6702008,2.06361224 18.4079487,1.6340614 17.99,1.42333333 C17.5936099,1.21047381 17.1101456,1.24452059 16.7475,1.51083333 L14,3.26666667 L14,1.16666667 C14,0.522334459 13.4776655,0 12.8333333,0 L2.33333333,0 C1.04466892,0 0,1.04466892 0,2.33333333 L0,11.6666667 C0,12.9553311 1.04466892,14 2.33333333,14 L12.8333333,14 C13.4776655,14 14,13.4776655 14,12.8333333 L14,10.7333333 L16.7066667,12.4833333 C17.0762078,12.7663078 17.5754888,12.811697 17.99,12.6 C18.4156245,12.3855923 18.6792232,11.9447462 18.6666667,11.4683333 L18.6666667,2.53166667 Z M17.4591667,11.5325 C17.4241667,11.5325 17.395,11.5325 17.3483333,11.4975 L12.8333333,8.61583333 L12.8333333,12.8333333 L2.33333333,12.8333333 C1.68900113,12.8333333 1.16666667,12.3109989 1.16666667,11.6666667 L1.16666667,2.33333333 C1.16666667,1.68900113 1.68900113,1.16666667 2.33333333,1.16666667 L12.8333333,1.16666667 L12.8333333,5.38416667 L17.3833333,2.4675 C17.4059072,2.45096538 17.4365928,2.45096538 17.4591667,2.4675 C17.4853533,2.47764827 17.5018977,2.5036466 17.5001477,2.53166667 L17.5001477,11.4683333 C17.5018977,11.4963534 17.4853533,11.5223517 17.4591667,11.5325 Z"
        :id="quota"></path>
    </defs>
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g transform="translate(1.000000, 3.000000)">
        <g transform="translate(0.166667, 0.500000)">
          <mask :id="mask" fill="white">
            <use :xlink:href="'#' + quota"></use>
          </mask>
          <use fill="#000000" fill-rule="nonzero" :xlink:href="'#' + quota"></use>
          <g :mask="'url(#' + mask + ')'" fill="#868686">
            <g transform="translate(-1.166667, -3.500000)">
              <rect x="0" y="0" width="21" height="21"></rect>
            </g>
          </g>
        </g>
      </g>
    </g>
  </svg>
</template>

<script>
  export default {
    data () {
      return {
        quota: Math.random(),
        mask: Math.random()
      }
    }
  }
</script>
