<template>
  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
    <rect width="100%" height="100%" x="0" y="0" fill="none" stroke="none"/>

    <g class="currentLayer" style=""><title>Layer 1</title>
      <path fill="#000" fill-rule="nonzero"
            d="M15.713000297546387,15.71399974822998 h1.4290000200271606 v2.1429998874664307 h-1.4290000200271606 v-2.1429998874664307 zm-4.284999847412109,0 h1.4279999732971191 v2.1429998874664307 H11.428999900817871 v-2.1429998874664307 zm-4.285999774932861,0 h1.4279999732971191 v2.1429998874664307 h-1.4279999732971191 v-2.1429998874664307 zm-4.285999774932861,0 h1.4290000200271606 v2.1429998874664307 h-1.4290000200271606 v-2.1429998874664307 zM15.713000297546387,2.1429998874664307 h1.4290000200271606 v2.1429998874664307 h-1.4290000200271606 V2.1429998874664307 zm-4.284999847412109,0 h1.4279999732971191 v2.1429998874664307 H11.428999900817871 V2.1429998874664307 zm-4.285999774932861,0 h1.4279999732971191 v2.1429998874664307 h-1.4279999732971191 V2.1429998874664307 zm-4.285999774932861,0 h1.4290000200271606 v2.1429998874664307 h-1.4290000200271606 V2.1429998874664307 zm4.714000225067139,11.477999687194824 a0.9210000038146973,0.9210000038146973 0 0 0 0.8859999775886536,0.06499999761581421 l6.236000061035156,-2.8570001125335693 a0.9290000200271606,0.9290000200271606 0 0 0 0,-1.6929999589920044 l-6.236000061035156,-2.8570001125335693 a0.9290000200271606,0.9290000200271606 0 0 0 -1.3140000104904175,0.8640000224113464 v5.714000225067139 c0.004999999888241291,0.3100000023841858 0.16599999368190765,0.5979999899864197 0.42800000309944153,0.7639999985694885 zm0.7149999737739563,-6.142000198364258 L13.791998863220215,10 l-5.506999969482422,2.506999969482422 V7.480000019073486 zM18.56899929046631,0 H1.428999900817871 c-0.7900000214576721,0 -1.4290000200271606,0.6399999856948853 -1.4290000200271606,1.4290000200271606 V18.56999969482422 c0,0.7900000214576721 0.6399999856948853,1.4290000200271606 1.4290000200271606,1.4290000200271606 H18.56899929046631 c0.7900000214576721,0 1.4290000200271606,-0.6399999856948853 1.4290000200271606,-1.4290000200271606 V1.4299999475479126 C19.99899959564209,0.6389999985694885 19.359000205993652,0 18.569998741149902,0 zm0,18.570999145507812 H1.428999900817871 V1.4299999475479126 H18.56899929046631 V18.56999969482422 z"
            class=""/>
    </g>
  </svg>
</template>

<script>
  export default {}
</script>
