@import './_variables';

@mixin disable-default-a-behaviour {
  &:hover, &:focus, &:active {
    text-decoration: none !important;
    color: inherit !important;
  }
}

@mixin one-column {
  width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;

  img,
  .iframe-responsive {
    margin: 30px 0;

    & + .citation {
      margin-top: 0 !important;
    }
  }

  @media screen and (max-width: $small-screen) {
    width: 100%;

    img {
      max-width: 100% !important;
      margin: 30px auto !important;
    }
  }
}

@mixin proza-semi-bold {
  font-family: 'Proza Libre', sans-serif;
  font-weight: $font-semibold;
}
